@model PageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string controllerName = ViewContext.RouteData.Values["action"].ToString();
    <div class="page-container">
        <partial name="~/Views/Shared/Aside.cshtml" model="@Model.Categories" />
        @RenderBody()
    </div>
}