@model WebApplication1.Models.Dto.LoginUser

@{
    ViewData["Title"] = "Login";
}
<div class="login-page">
<div class="login-wrapper">
    <div class="left">
        <div class="login-text">Login</div>
            <div class="text-info">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
        </div>
        <span>@ViewBag.Error</span>
        <div class="right">
        <form asp-action="Login" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Email"></label>
                <input class="input" asp-for="Email"/>
                <span asp-validation-for="Email"></span>
                <label asp-for="Password"></label>
                <input class="input" asp-for="Password" type="password"/>
                <span asp-validation-for="Password"></span>
            <input type="hidden" asp-for="ReturnUrl"/>
                <input id="submit" type="submit" value="Login"/>
        </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

