@model WebApplication1.Models.Dto.RegisterUser

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />
<div>
    <span>@ViewBag.ErrorMessage</span>
    <div>
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RepeatPassword"></label>
                <input asp-for="RepeatPassword" type="password"/>
                <span asp-validation-for="RepeatPassword"></span>
            </div>
            <div>
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

