@model WebApplication1.Models.Dto.RegisterUser

@{
    ViewData["Title"] = "Register";
}

<div class="register-page">
    <div class="register-wrapper">
        <span>@ViewBag.ErrorMessage</span>
    <div class="right">
        <form asp-action="Register" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Email"></label>
                <input class="input" asp-for="Email"/>
                <span asp-validation-for="Email"></span>
                <label asp-for="Password"></label>
                <input class="input" asp-for="Password" type="password"/>
                <span asp-validation-for="Password"></span>
                <label asp-for="RepeatPassword"></label>
                <input class="input" asp-for="RepeatPassword" type="password"/>
                <span asp-validation-for="RepeatPassword"></span>
                <input id="submit" type="submit" value="Register"/>
        </form>
        </div>
    <div class="left">
        <div class="register-text">Register</div>
        <div class="text-info">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
    </div>
    </div>
</div>

