@model WebApplication1.Models.Category

<div class="category-page-form-container">
    <span class="close-btn">&#10006;</span>
    <form asp-action="CategoryEdit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ParentId" />
        <input type="hidden" asp-for="Type" />
        <div>
            <label asp-for="Title"></label>
            <input class="input" asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="Description"></label>
            <input class="input" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label asp-for="Keywords"></label>
            <input class="input" asp-for="Keywords" />
            <span asp-validation-for="Keywords"></span>
        </div>
        <div>
            <label asp-for="Code"></label>
            <input class="input" asp-for="Code" />
            <span asp-validation-for="Code"></span>
        </div>
        <div>
            <input id="submit" type="submit" value="Save"/>
        </div>
    </form>
</div>

