@model PageModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<div>
    @{
        if (Model.SelectedCategory != null)
        {
            if (ViewBag.IsForAdd??false)
            {
                <partial name="~/Views/Cms/Category/CategoryAdd.cshtml" model="new Category()" />
            }
            else
            {
                <partial name="~/Views/Cms/Category/CategoryEdit.cshtml" model="@Model.SelectedCategory" />
            }
        }
        else
        {
            <h3>Select Category...</h3>
        }
    }

</div>
