@import './colors.scss';

:root {
    --primeColor: #0A1828;
    --greyColor: #474A59;
    --turquoiseColor: #178582;
    --goldColor: #BFA181;
    --white: white;
    --dangerColor: red;
}

body {
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    background: var(--primeColor);
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.page-container{
    justify-content:center;
}

.field-validation-error {
    font-size: 13px;
    font-weight: bold;
    color: var(--dangerColor);
}

.hide-menu {
    margin-left:-50% !important;
}

.open-toggle {
    color: var(--goldColor);
    visibility: hidden;
    transition: all 0.5s linear;
    font-size: 35px;
    font-weight:bold;
    cursor: pointer;
    position: absolute;
    top: 6rem;
    left: 3rem;
}

.line {
    height: 5px;
    background: var(--goldColor)
}

.header-page {
    background: var(--primeColor);
    height: 60px;

    .header-wrapper {
        display: flex;
        justify-content: end;

        ul {
            display: flex;
            flex-direction: row;
            border-radius: 5px;

            li {
                width: 100%;

                a {
                    color: var(--turquoiseColor);
                    font-size: 20px;
                    margin-right: 1em;
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 0.2em 0.5em;
                    font-weight: bold;
                }

                a:hover, a:active {
                    color: var(--goldColor);
                    background: var(--turquoiseColor);
                }
            }
        }
    }
}

.page-container {
    display: flex;
}

.second-menu-page {
    background: var(--primeColor);
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    font-size: 22px;
    padding: 1em 1em 1em 2em;
    border-right:7px solid var(--goldColor);
    transition: all 0.5s linear;
    position:fixed;

    > div {
        margin-top: 1em;

        a {
            color: var(--turquoiseColor);
            font-weight:bold;
        }
    }

    .close-btn {
        display: flex;
        justify-content: right;
        cursor: pointer;
        font-size: 35px;
        color: var(--goldColor);
        font-weight: bold;
    }

    .close-btn:hover{
        color:var(--turquoiseColor);
    }

    .main-cat {
        font-size: 24px;
        font-weight: bold;
    }

    .sub-cat {
        padding-left: 2em;
        font-size: 22px;
        margin-top: 0.5em;
    }

    .sub-sub-cat {
        padding-left: 5em;
        margin-top: 0.3em;
        font-size: 20px;
    }
}

.login-page {
    background: var(--primeColor);
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: 100%;


    .login-wrapper {
        display: flex;
        height: 320px;
        margin: 0 auto;
        width: 640px;
    }

    .left {
        background: var(--white);
        height: calc(100% - 40px);
        top: 20px;
        position: relative;
        width: 50%;

        .login-text {
            font-size: 50px;
            font-weight: 900;
            margin: 50px 40px 40px;
            color: var(--goldColor);
        }

        .text-info {
            color: var(--turquoiseColor);
            font-size: 14px;
            line-height: 1.5;
            margin: 40px;
        }
    }

    .right {
        background: var(--greyColor);
        box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
        color: #F1F1F2;
        position: relative;
        width: 50%;

        .form {
            margin: 40px;
            position: absolute;
        }

        label {
            color: var(--goldColor);
            display: block;
            font-size: 17px;
            height: 16px;
            margin-top: 20px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .input {
            background: transparent;
            border: 0;
            font-size: 20px;
            height: 30px;
            line-height: 30px;
            outline: none !important;
            width: 100%;
            border-bottom: 3px solid var(--goldColor);
        }
    }

    #submit {
        color: var(--white);
        font-size: 20px;
        height: 30px;
        border-radius: 5px;
        background: var(--goldColor);
        float: right;
        width: 50%;
        outline: none !important;
        margin-top: 2em;
        border: 1px solid var(--goldColor);
        cursor: pointer;
    }

    #submit:hover, #submit:active {
        background: var(--turquoiseColor);
        border: 1px solid var(--turquoiseColor);
    }
}

.register-page {
    background: var(--primeColor);
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);

    .register-wrapper {
        display: flex;
        height: 400px;
        margin: 0 auto;
        width: 640px;

        .left {
            background: white;
            height: calc(100% - 40px);
            top: 20px;
            position: relative;
            width: 50%;

            .register-text {
                font-size: 50px;
                font-weight: 900;
                margin: 50px 40px 40px;
                color: var(--goldColor);
            }

            .text-info {
                color: var(--turquoiseColor);
                font-size: 14px;
                line-height: 1.5;
                margin: 40px;
            }
        }
    }

    .right {
        background: var(--greyColor);
        box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
        position: relative;
        width: 50%;

        .form {
            margin: 10px;
            position: absolute;
        }

        label {
            color: var(--goldColor);
            display: block;
            font-size: 17px;
            height: 16px;
            margin-top: 20px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .input {
            background: transparent;
            border: 0;
            color: var(--textColor);
            font-size: 20px;
            height: 30px;
            line-height: 30px;
            outline: none !important;
            width: 100%;
            border-bottom: 3px solid var(--goldColor);
        }
    }

    #submit {
        color: var(--white);
        font-size: 20px;
        height: 30px;
        border-radius: 5px;
        background: var(--goldColor);
        float: right;
        width: 50%;
        outline: none !important;
        margin-top: 2em;
        border: 1px solid var(--goldColor);
        cursor: pointer;
    }

    #submit:hover, #submit:active {
        background: var(--turquoiseColor);
        border: 1px solid var(--turquoiseColor);
    }
}

.category-page-form-container {
    margin-top: 5em;
    padding: 0 3em;
    background: var(--goldColor);
    border-radius: 5px;
    height: 90%;

    .close-btn{
        color:var(--turquoiseColor);
        cursor:pointer;
        position:relative;
        width:100%;
        top:3px;
        left:268px;
        font-size:20px;

        &:hover{
            color:var(--white);
        }
    }

    label {
        color: var(--turquoiseColor);
        display: block;
        font-size: 17px;
        height: 16px;
        margin-top: 20px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input {
        background: transparent;
        border: 0;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        outline: none !important;
        width: 100%;
        border-bottom: 3px solid var(--turquoiseColor);
    }

    #submit {
        color: var(--goldColor);
        font-weight:bold;
        font-size: 20px;
        height: 30px;
        border-radius: 5px;
        background: var(--turquoiseColor);
        float: right;
        width: 50%;
        outline: none !important;
        margin-top: 2em;
        border: 1px solid var(--turquoiseColor);
        cursor: pointer;
        width:100%;
    }

    #submit:hover, #submit:active {
        background: var(--white);
        border: 1px solid var(--goldColor);
        color: var(--goldColor)
    }
}

.footer-page {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: var(--goldColor);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-wrapper {
        color: var(--turquoiseColor);

        a {
            color: var(--primeColor);
            font-weight: bold;
            cursor: pointer;
        }

        a:hover {
            color: var(--turquoiseColor);
        }
    }
}