@using WebApplication1.Models.Dto;
@model ArticleDto

<div class="article-page-form-container">
    <div class="header">
    <h3>ARTICLE EDIT</h3>
        <a asp-controller="Cms" asp-action="ArticleList" class="close-btn">&#10006;</a>
    </div>
    <form asp-action="ArticleEdit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Type" value="category" />
        <div>
            <label asp-for="Title"></label>
            <input class="input" asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="Description"></label>
            <input class="input" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label asp-for="Keywords"></label>
            <input class="input" asp-for="Keywords" />
            <span asp-validation-for="Keywords"></span>
        </div>
        <div>
            <label asp-for="Code"></label>
            <input class="input" asp-for="Code" />
            <span asp-validation-for="Code"></span>
        </div>
        <div- class="list-cat">
            <select asp-items="Model.AvailableCategoriesList">
                <option>Select Category</option>
            </select>
        </div->
        <div class="selected-cats">
            @{
                foreach(Category category in Model.Categories)
                {
                    <span>@category.Title</span>
                }
            }
        </div>
        <div>
            <input id="submit" type="submit" value="Create" />
        </div>
    </form>
</div>